{% extends "base.html" %}

{% block page_title %}RSVP Food{% endblock %}

{% block main %}

<form action="." method="post">
{% csrf_token %}

<h4>What do people want to eat?</h3>
<table>
  <tr>
    <td>&nbsp;</td>
    {% for food in all_foods %}
    <td>
       <p><strong>{{ food.title }}</strong><br>
       {{ food.description }}
       </p>
    </td>
    {% endfor %}
  </tr>
  {% for name, chosen_food in names %}
  <tr>
    <td><strong>{{ name }}</strong></td>
        {% with forloop.counter as index %}
        {% for food in all_foods %}
          <td style="vertical-align:top"><input type="radio" name="food_{{ index }}" value="{{ food.pk }}"
                     {% if chosen_food == food %}checked="checked"{% endif %}></td>
        {% endfor %}
        {% endwith %}
  </tr>
  {% endfor %}
  {{ extra_form }}
</table>

<div><input type="submit" value="RSVP!">
<strong>Next,</strong> information about the wedding!</div>
</form>

{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}