{% extends "base.html" %}

{% block page_title %}RSVP Food{% endblock %}

{% block main %}

<form action="." method="post">
{% csrf_token %}

<h4>What do people want to eat?</h4>
<table style="margin-top:25px; margin-bottom:35px">
  <tbody>
  <tr>
    <td>&nbsp;</td>
    {% for food in all_foods %}
    <td style="padding-left:20px">
       <p><strong>{{ food.title }}</strong><br>
       {{ food.description }}
       </p>
    </td>
    {% endfor %}
  </tr>
  </tbody>
  <tbody>
  {% for name, chosen_food in names %}
  <tr>
    <td><p style="font-weight:bold">{{ name }}</p></td>
        {% with forloop.counter as index %}
        {% for food in all_foods %}
          <td style="vertical-align:top; padding-left:20px">
          <input type="radio" name="food_{{ index }}" value="{{ food.pk }}"
                 style="font-size:120%"
                     {% if chosen_food == food %}checked="checked"{% endif %}></td>
        {% endfor %}
        {% endwith %}
  </tr>
  {% endfor %}
  </tbody>
</table>
  {{ extra_form.as_p }}

<div><input type="submit" class="submit" value="Next!"></div>
<!--<p><strong>Next,</strong> information about the wedding!</p>-->
<p><strong>Next,</strong> song requests!</p>
</form>

{% endblock %}

{% block extra_js %}
<script>
$(function() {
  $('form').submit(function() {
    var c_false = 0, c_true = 0;
    $('input[type="radio"]').each(function() {
      if (this.checked) c_true++;
      else c_false++;
    });
    if (c_true != c_false) {
      alert("Make sure everyone has selected their preferred food");
      return false;
    }
    return true;
  });
});
</script>
{% endblock %}