{% extends "base.html" %}

{% block page_title %}RSVP Song requests{% endblock %}

{% block main %}

<p><a href="{% url rsvp:food %}">&larr; You can go back and change the food preferences</a></p>

<h3>Song requests?</h3>

<form action="." method="post">
{% csrf_token %}
<p>So we're almost there, just one more little thing.<br>
Please tell us what kind of song requests you have. Enter it below.
</p>

{{ form.as_p }}

<div><input type="submit" class="submit" value="Next!"></div>
<p><strong>Next,</strong> information about the wedding!</p>
</form>

{% endblock %}