{% extends "base.html" %}

{% block page_title %}RSVP{% endblock %}

{% block extra_css %}
<style type="text/css">
#select-coming label { display:inline; font-size:18px; }
</style>
{% endblock %}

{% block main %}

<form action="." method="post">
{% csrf_token %}

<p>First of all, are you coming?</p>
<div id="select-coming">
<input type="radio" name="coming" value="yes" id="id_yes"
  {% if coming %}checked{% endif %}
><label for="id_yes">YES!!</label><br>
<input type="radio" name="coming" value="" id="id_no"><label for="id_no">No :(</label>
</div>

<div id="form" style="display:none">
{{ form.as_p }}
</div>

<div style="margin-top:30px"><input type="submit" class="submit" value="RSVP!"></div>
<p id="what_next"><strong>Next,</strong> the food!</p>
</form>

{% endblock %}

{% block extra_js %}
<script src="/js/rsvp.js"></script>
{% endblock %}