{% extends "base.html" %}

{% load website_tags %}
{% block main %}

{% if request.user.is_authenticated %}

  {% if rsvp %}
  <h3><strong>You have</strong> RSVP'ed
    {% if rsvp.coming %}
    ({{ rsvp.people|join:", " }})
    and we're so glad that you're coming!
    If you need to change anything you can go back
    and <a href="{% url rsvp:start %}">RSVP again</a>.
    {% else %}
    and it's such a shame you can't come.
    <br>
    If you change your mind you can <a href="{% url rsvp:start %}">RSVP again</a>.
    {% endif %}
  </h3>
  {% else %}
  <h3>You haven't RSVP'ed yet - <a style="font-weight:bold" href="{% url rsvp:start %}">RSVP now &raquo;</a></h3>
  {% endif %}
  <br/>
<br clear="all"/>

  <h3>Hello Family and Friends!!</h3>

  <p>Welcome to our wedding website! Thank you for visiting, we hope that
  you'll find all the information you need about our wedding here.</p>

  <p>It's hard to believe we've been together for over two and a half years!
  I guess time flies when you're having fun!!</p>

  <p>Lots of love, puss och kram,<br>
  Peter & Ashley</p>


  <h3>Information</h3>
  <ul>
    {% for page in flat_pages %}
        <li><a href="{{ page.url }}">{{ page.title|flatpage_title }}</a>
    {% endfor %}
  </ul>


{% else %}

<h4>You'll need to login - check your email inbox!</h4>
{% include "website/login_form.html" %}
{% endif %}

{% endblock %}
