{% extends "base.html" %}

{% block main %}
<h3>Welcome to Ashley and Peter's wedding website!</h3>
<p class="welcome"> One of us is a huge geek (you can guess who) so we're doing this all online - please type in your name and then we'll ask you about your food preferences in a moment.</p>
<div id="form-fields">
<form action="." method="post">
{% csrf_token %}

<label for="id_first_name">First name</label><br/>
<input id="id_first_name" type="text" name="first_name" maxlength="30" value=""/><br/>
<label for="id_last_name">Last name</label><br/>
<input id="id_last_name" type="text" name="last_name" maxlength="30" value="" /><br/>
<label for="id_email">Email</label><br/>
<input id="id_email" type="text" name="email" maxlength="30" value="" />
<input type="submit" value="Next &raquo;" class="submit">
</form>
</div>


{% endblock %}